<div *ngIf="wybranaOsoba">
  <h2>{{ wybranaOsoba.nazwisko }}</h2>
  <label for="nazwisko-osoby">Nazwisko</label>
  <input
    type="text"
    class="form-control"
    id="nazwisko-osoby"
    [(ngModel)]="wybranaOsoba.nazwisko"
    placeholder="Nazwisko"
  />
  <label for="imie-osoby">Imię</label>
  <input
    type="text"
    class="form-control"
    id="imie-osoby"
    [(ngModel)]="wybranaOsoba.imie"
    placeholder="Imię"
  />
  <label for="wiek-osoby">Wiek</label>
  <input
    type="text"
    class="form-control"
    id="wiek-osoby"
    [(ngModel)]="wybranaOsoba.wiek"
    placeholder="Wiek"
  />
  <label for="wiek-osoby">Data utworzenia</label>
  <input
    type="text"
    class="form-control"
    id="wiek-osoby"
    [(ngModel)]="wybranaOsoba.utworzony"
    placeholder="Utworzony"
  />
  <label for="wiek-osoby">Zdjęcie</label>
  <input
    type="text"
    class="form-control"
    id="wiek-osoby"
    [(ngModel)]="wybranaOsoba.zdjecie"
    placeholder="Zdjęcie"
  />
</div>

<ul>
  <li *ngFor="let item of item$ | async">
    {{ item.name }}
  </li>
</ul>

<div class="row">
  <div class="col-sm-4" *ngFor="let czlowiek of moiludzie">
    <div class="card" style="width: 18rem">
      <img src="../assets/{{ czlowiek.zdjecie }}" alt="" />
      <div class="card-body">
        <h5 class="card-title">
          {{ czlowiek.nazwisko | uppercase }} - {{ czlowiek.imie }}
        </h5>
        <p>
          Wiek: <b>{{ czlowiek.wiek }}</b>
        </p>
        <p>
          Data: <b>{{ czlowiek.utworzony | date: "shortDate" }}</b>
        </p>
        <button class="btn btn-success" (click)="onSelect(czlowiek)">
          Pokaż informacje
        </button>
      </div>
    </div>

    <!-- <div class="mt-t">
    <label for="nazwisko">Nazwisko osoby: </label>
    <input
      id="nazwisko"
      [(ngModel)]="czlowiek.nazwisko"
      placeholder="="
      nazwisko
    />
  </div> -->
  </div>
</div>
